@model MarketPlace.DataLayer.DTOs.Account.ForgotPasswordDTO;
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

@section scripts{
    <partial name="_JqueryValidators" />
    <partial name="_CaptchaScripts" />
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer forgot password start -->
<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--forgot password area start-->
            <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                <div class="account_form register">
                    <h2>@ViewData["Title"]</h2>
                    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                        <partial name="_CaptchaInput" />
                        <p>
                            <label>تلفن همراه <span>*</span></label>
                            <input asp-for="Mobile" type="text">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </p>
                      
                        <div class="login_submit">
                            <button type="submit">بازیابی</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- customer forgot password end -->
        </div>
    </div>
</div>