@using MarketPlace.DataLayer.DTOs.Stores;
@model RequestStoreDTO
@{
    ViewData["Title"] = "درخواست پنل فروشندگی";

}


@section scripts{
    <partial name="_JqueryValidators" />
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("UserSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="account-details">
                            <h3>@ViewData["Title"]</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="User" asp-controller="Store" asp-action="RequestStorePanel" >
                                            <label>نام فروشگاه</label>
                                            <input type="text" asp-for="StoreName" />
                                            <span asp-validation-for="StoreName" class="text-danger"></span>
                                            <br />
                                            <label>تلفن تماس</label>
                                            <input type="text" asp-for="Phone" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                            <br />
                                            <label>آدرس</label>
                                            <textarea type="text" asp-for="Address" class="form-control" rows="7"></textarea>
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                            <br />
                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">ثبت درخواست</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

