@using MarketPlace.DataLayer.DTOs.JsTree;
@using MarketPlace.DataLayer.DTOs.Products;
@using MarketPlace.DataLayer.Entities.Products;
@model CreateProductDTO;
@{
    ViewData["Title"] = "ایجاد محصولات";
    var categories = ViewBag.Categories as List<JsTreeDTO>;
}



<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("StoreSidebar")
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade show active" id="account-details">
                            <h3>@ViewData["Title"]</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-area="Store" asp-controller="Product" asp-action="CreateProduct" enctype="multipart/form-data" id="create_product_form">
                                            <label>نام محصول</label>
                                            <input asp-for="Title" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                            <br />

                                            <label>قیمت</label>
                                            <input asp-for="Price" />
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                            <br />

                                            <label>توضیحات کوتاه محصول</label>
                                            <textarea class="form-control" rows="8" asp-for="ShortDescription"></textarea>
                                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                            <br />

                                            <label>توضیحات محصول</label>
                                            <textarea ckeditor="1" class="form-control" asp-for="Description"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                            <br />

                                            <div class="form-group">
                                                <input asp-for="IsActive" name="@nameof(Model.IsActive)" type="checkbox" value="true" /> فعال / غیرفعال
                                            </div>
                                            <br />

                                            <div class="m-2">
                                                <div id="categories"></div>
                                            </div>

                                            <div class="d-flex flex-wrap mt-3">
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label>رنگ محصول</label>
                                                        <input type="text" id="product_color_name_input" />
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div cite="form-group">
                                                        <label>قیمت مضاف رنگ محصول</label>
                                                        <input type="text" id="product_color_price_input" />
                                                    </div>
                                                </div>
                                                <button type="button" onclick="addProductColor()"> افزودن رنگ</button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                رنگ
                                                            </th>
                                                            <th scope="col">
                                                                قیمت
                                                            </th>
                                                            <th scope="col">
                                                                عملیات
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="list_of_product_colros">
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-9">
                                                <input name="productImage" type="file" />
                                            </div>


                                            <div class="save_button primary_btn default_button">
                                                <button onclick="submitForm()" type="button">افزودن</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account end   -->
@section scripts{
    <partial name="_JqueryValidators" />

    <script>

        $.get('@Url.Action("GetProductCategories","Product", new {area = "Store"})').then(function (res) {
            if (res.status == "Success") {
                let data = res.data;
                $("#categories").jstree(
                    {
                        "core":
                        {
                            data: data
                        },
                        "checkbox": {
                            "keep_selected_style": false
                        },
                        "plugins": ["wholerow", "checkbox"]
                    })
            }
        });

        function addProductColor() {
            let productColorName = $("#product_color_name_input").val();
            let productColorPrice = $("#product_color_price_input").val();

            if (productColorName && productColorPrice) {
                let index = $("#list_of_product_colros tr").length;

                $("#list_of_product_colros").append(`<tr product-color-row-index='${index}'><td>${productColorName}</td><td>${productColorPrice}</td><td><button type='button' onClick='removeProductColor(${index})' class='btn btn-danger m-0'><i class='fa fa-times'></i></button></td></tr>`);

                $("#create_product_form").append(`<input type="hidden" product-color-input-index="${index}" value="${productColorName}" name="productColors[${index}].colorName" />`);
                $("#create_product_form").append(`<input type="hidden" product-color-price-input-index="${index}" value="${productColorPrice}" name="productColors[${index}].colorPrice" />`);

                $("#product_color_name_input").val(null);
                $("#product_color_price_input").val(null);
            }
            else {
                showMessage("اخطار", "مقادیر رنگ و قیمت مضاف به درستی وارد نشده اند",'warning');
            }

        }

        function removeProductColor(index) {
            $(`[product-color-row-index="${index}"]`).remove();
            $(`[product-color-input-index="${index}"]`).remove();
            $(`[product-color-price-input-index="${index}"]`).remove();
        }


        function submitForm() {
            let checkedIds = $("#categories").jstree("get_checked", null, true);

            //$("[productCategories]").each(function(index,item){
            //    $("#create_product_form").removeChild(item);
            //});

            for (let i = 0; i < checkedIds.length; i++) {
                let checkedId = parseInt(checkedIds[i]);
                $("#create_product_form").append(`<input type='hidden' name='productCategories[${i}]' value="${checkedId}"/>`)
            }

            $("#create_product_form").submit();
        };
    </script>
}
