<div class="dashboard_tab_button">
	<ul role="tablist" class="nav flex-column dashboard-list">
		<li><a asp-area="User" asp-controller="Home" asp-action="Index"  class="nav-link active">داشبورد</a></li>
		<li><a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="nav-link">تغییر کلمه عبور</a></li>
		<li><a asp-area="User" asp-controller="Ticket" asp-action="CreateTicket" class="nav-link">ثبت تیکت جدید</a></li>
		<li><a asp-area="User" asp-controller="Ticket" asp-action="Index" class="nav-link">تیکت ها</a></li>
		<li><a asp-area="User" asp-controller="Store" asp-action="RequestStorePanel" class="nav-link">درخواست پنل فروشندگی</a></li>
		<li><a asp-area="User" asp-controller="Store" asp-action="StoreRequests" class="nav-link">لیست درخواست ها فروشندگی</a></li>
		<li><a asp-controller="Account" asp-action="Logout" class="nav-link">خروج</a></li>
	</ul>
</div>